.card-widget {
    display: block;

    padding-right: 15px;
    padding-left: 15px;
}

.btn-submit {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;

    line-height: 1.42857143;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.input-field {
    line-height: 1.42857143;
    display: block;
    box-sizing: border-box;
    width: 100%;

    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .input-field {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.status-ok::before {
    content: '✔';
    color: #4cae4c;
}

.status-deny::before {
    content: '✖';
    color: tomato;
}